/*
Classes:
<h2 class="section_name">
<h3 class="employer">
<h3 class="employer_location">
<p class="employer_summary">
<p class="job_title">
<p class="employed_dates">
<ul class="position_highlights">
<h3 class="school">
<p class="degree">
<p class="graduation_date">
<p class="certification_name">
<p class="certified_date">

Id's:
<h1 id="name">
<p id="summary">
<ul id="skills">

DIV's:
<div id="contact_information">
<div id="address">
<div id="communication">
<div id="experience">
<div id="element_115">
<div id="google">
<div id="music_now">
<div id="parity_systems">
<div id="information_resources">
<div id="goodfood">
<div id="reuters">
<div id="education">
<div id="ut_bs">
<div id="ut_ba">
<div id="certifications">
<div id="jscp_50">
<div id="related_skills">
*/

body {
  background-color: rgb(255, 255, 255);
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  line-height: 1.25em; 
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1em;
}

#name {
  text-align: center;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
}