/*
Classes:
<h2 class="section_name">
<h3 class="employer">
<h3 class="employer_location">
<p class="employer_summary">
<p class="job_title">
<p class="employed_dates">
<ul class="position_highlights">
<h3 class="school">
<p class="degree">
<p class="graduation_date">
<p class="certification_name">
<p class="certified_date">

Id's:
<h1 id="name">
<p id="summary">
<ul id="skills">

DIV's:
<div id="allcontent">
<div id="contact_information">
<div id="address">
<div id="communication">
<div id="experience">
<div id="element_115">
<div id="google">
<div id="music_now">
<div id="parity_systems">
<div id="information_resources">
<div id="goodfood">
<div id="reuters">
<div id="education">
<div id="ut_bs">
<div id="ut_ba">
<div id="certifications">
<div id="jscp_50">
<div id="related_skills">
*/

body {
  background-color: rgb(255, 255, 255);
  font-size: medium;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  line-height: 1.25em; 
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.2em;
  text-decoration: underline;
}

h3 {
  font-size: 1em;
}

#allcontent {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
}

#name {
  text-align: center;
  border-style: none;
  border-width: 0px;
  margin: 0px;
  padding: 0px 5px 5px 5px;
}

#contact_information {
  margin: 0px;
  padding: 0px;
  border-bottom: thin solid black;
}

#address {
  margin: 0px;
  padding: 0px;
  float: left;
  text-align: left;
}

#address p {
  margin: 0px;
  padding: 0px;
}

#communication {
  text-align: right;
  margin: 0px;
  padding: 0px;
}

#communication p {
  margin: 0px;
  padding: 0px;
}

#address_communication {
  margin: 0px;
  padding: 5px 0px 5px 0px;
}

#summary_skills {
  margin: 0px;
  padding: 5px 0px 5px 0px;
}

#summary {
  margin: 0px;
  padding: 0px 0px 5px 0px;
}

#skills_left {
  width: 400px;
  margin: 0px;
  padding: 0px 0px 0px 25px;
  float: left;
  text-align: left;
  list-style-position: inside;
}

#skills_right {
  margin: 0px;
  padding: 0px 25px 0px 0px;
  text-align: left;
  list-style-position: inside;
}

#experience {
  clear: left;
}

.employer {
  margin: 0px;
  padding: 0px 0px 1px 0px;
  float: left;
  text-align: left;
  font-weight: bold;
}

.employer_location {
  margin: 0px;
  padding: 0px 0px 1px 0px;
  text-align: right;
}

.employer_summary {
  margin: 0px;
  padding: 0px 0px 5px 0px;
  clear: left;
}

.job_title {
  margin: 0px;
  padding: 10px 0px 5px 0px;
  font-style: italic;
}

.employed_dates {
  margin: 0px;
  padding: 0px 0px 5px 0px;
}

.position_highlights {
  margin: 0px 0px 0px 25px;
  padding: 0px 0px 25px 0px;
  list-style-position: outside;
}

.school {
  margin: 0px;
  padding: 0px 0px 5px 0px;
  font-weight: bold;
}

.degree {
  margin: 0px;
  padding: 0px 0px 5px 0px;
  font-style: italic;
}

.graduation_date {
  margin: 0px;
  padding: 0px 0px 5px 0px;
}

.certification_name {
  margin: 0px;
  padding: 0px 0px 5px 0px;
  font-style: italic;
}

.certified_date {
  margin: 0px;
  padding: 0px 0px 5px 0px;
}

#related_skills ul {
  margin: 0px;
  padding: 0px 0px 5px 25px;
  list-style-position: inside;
}